---
title: EMCS API process flows
weight: 2
description: Software developers, designers, product owners or business analysts. Integrate your software with the EMCS service
---

# Process flows
<%= partial 'documentation/partials/google_tag_manager_js' %>
<a href="../images/emcs-api-high-level-process-map.png" target="_blank"><img src="../images/emcs-api-high-level-process-map.png" alt="A high level process map for EMCS API"></a>
<a href="../images/emcs-api-high-level-process-map.png" target="_blank">Open high level process map in a new tab.</a>

Detailed process flows for the new RESTful API are still in development.

As the functionality of the API remains similar to the SOAP API, you should use the [process flows in the existing DDNEA documentation](https://www.gov.uk/government/publications/emcs-functional-stage-31-fs31-technical-specifications). 

Ignore any references to SOAP or SOAP envelopes, the new API is RESTful.